@tailwind base;
@tailwind components;
@tailwind utilities;



.slider-container {
  overflow: hidden;
  width: 100%;
}
.back_img {
  background-position: center !important;
  background-size: cover !important;
}
.btnlike {
  background: black !important;
  text-transform: capitalize !important;
  display: flex;
  gap: 4px;
  font-weight: 700 !important;
  font-size: 14px !important;
  align-items: center;
}
body {
  color: white;
  background: #0d0c0f;

}
hr {
  margin: 15px 0px;
  color: #ffffff;
  opacity: 1;
}
h6 {
  font-weight: 600 !important;
  margin-bottom: 20px !important;

}
.trailerbtn {
  background-color: #D71134 !important;
  text-transform: capitalize !important;
  display: flex;
  gap: 6px;
  font-weight: 700 !important;
}
.btnadd SVG {
  font-size: 20px;
}
.trailerbtn SVG {
  font-size: 20px;
}
.btnadd {
  text-transform: capitalize !important;
  display: flex;
  gap: 6px;
  font-weight: 700 !important;
}
.swiper-pagination-bullet {
  background-color: #6b6b71 !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100% !important;
  display: flex;
  bottom: 80px !important;
  padding-right: 5rem !important;
  justify-content: flex-end;
}
.img_slider {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-top: 2rem;
}
.tab_container .react-tabs__tab-list {
  border: none;
}
.react-tabs__tab {
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 0px !important;
  display: flex;
  margin: 0 10px;
  opacity: 0.5;
}
.tab_container .react-tabs__tab--selected {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid #F10606;
  opacity: 10;
}
.react-tabs__tab:focus:after {
  background-color: transparent !important;
}
.radiobtn span{
  font-weight: 600 !important;
  font-size: 14px !important;
  letter-spacing: 0.5%;
}

/* Accounts_Style_Start ===============*/

.accounts_section{
  height: auto;
  min-height: 100vh;
  background: #08080A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.accounts_inner_main{
  width: 100%;
  max-width: 550px;
  margin: 30px 0px;
}
.accounts_card_body_div{
  background: #0D0C0F;
  border: 1px solid #28262D;
  padding: 30px 20px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.accounts_input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.accounts_input input{
  background: #FFFFFF;
  border: 1px solid #28262D;
  color: #28262D;
  width: 100%;
  padding: 8px 20px;
  border-radius: 5px;
  outline: 0;
}
.accounts_logo{
  text-align: center;
}
.accounts_logo img{
  margin: 0px auto 20px auto;
}
.forgot_pass a{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #fff;
}
.accounts_last_txt{
  text-align: center;
  margin-top: 30px;
}
.accounts_last_txt p{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: center;
}
.accounts_last_txt p a{
  font-weight: 700;
}
.accounts_social_icons{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.accounts_social_icons img{
  height: 45px;
  width: auto;
}
.accounts_terms{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}
.accounts_terms input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #93989A; /* Custom border color */
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}
.accounts_terms input:checked {
  background-color: #D71134 ;
  border-color: #fff;
}
.accounts_terms input:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.accounts_terms label{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #fff;
  user-select: none;
}
/* Influencer_Style_Start ===============*/
.influence_section{
  background: #08080A;
  height: auto;
  min-height: 100vh;
}
.influ_top_img{
  position: relative;
}
.influ_top_img .influ_main_img{
  width: 100%;
  height: 60vh;
  min-height: 500px;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(358.93deg, #0D0C0F 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(13, 12, 15, 0.57) 48.81%, rgba(13, 12, 15, 0.284314) 70.66%, #0D0C0F 103.18%);
  pointer-events: none;
}
.influ_top_img .overlay_text_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  width: 100%;
  max-width: 1300px;
  height: 40vh;
  min-height: 350px;
  padding: 30px 30px;
}
.influ_top_img .overlay_text h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #F9F9F9;
}
.influ_top_img .overlay_text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;  
  color: #F9F9F9;
}
.over_logo{
  text-align: center;
}
.over_logo img{
  height: 50px;
  width: auto;
  margin: 20px auto;
}
.influence_bottom_card{
  background: #0D0C0F;
  border: 1px solid #28262D;
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}
.influence_bottom_text h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #F9F9F9;
}
.influence_bottom_img img{
  width: 100%;
  margin: auto;
  object-fit: contain;
}
 
/* Subscription_Style_Start */

.subscription_section{
  background: #08080A;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.subs_logo{
  text-align: center;
  padding-top: 20px;
}
.subs_logo img{
  height: 45px;
  width: auto;
  margin: auto;
}
.subs_title h3{
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.005em;
  text-align: left;
  color: #fff;
  margin-top:3rem;
}
.subscription_card_body{
  width: 100%; 
  background: #0D0C0F;
  padding: 20px 25px;
  border-radius: 24px;
  height: auto;
  min-height: 650px;
  border: 1px solid #28262D;
}
.subscription_card_text1{
  background: #0D0C0F;
  border: 1px solid #28262D;
  padding: 15px;
  text-align: center;
  border-radius: 24px;
}
.subscription_card_text1 p{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  margin-bottom: 0;
}
.subscription_border{
  border: 1px solid #FFFFFF;
  margin-top: 10px;
}
.subscription_card_text2{
  margin-top: 15px;
}
.subscription_card_text2 p{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #fff;
  margin-bottom: 0;
  padding-top: 8px;
}
.subscrip_bottom_button{
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.subscrip_bottom_button button{
  width: 100% !important;
  margin-top: 20px;
}
.email_verfi_section{
  background: #08080A;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.email_veri_inner{
  width: 100%;
  max-width: 550px;
  margin: auto;
  padding: 30px 0px;
}
.email_veri_card_body_div{
  margin-top: 100px;
  width: 100%;
  background: #0D0C0F;
  padding: 30px 20px;
  border-radius: 24px;
  height: auto;
  border: 1px solid #28262D;
  text-align: center;
}
.email_veri_card_body_div img{
  height: 35px;
  width: auto;
  margin: auto;
}
.email_veri_card_body_div h1{
  font-size: 36px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #fff;
  padding-top: 8px;
}
.email_veri_card_body_div span{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #fff;
}
.email_veri_card_body_div p{
  padding-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #fff;
}
.email_veri_card_body_div button{
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  padding: 12px 12px;
}

/* POPULAR_DISCUSSION ================================== */

.popular_dis_main{
  display: flex;
  align-items: start;
  gap: 30px;
  margin-top: 40px; 
}
.popular_dis_left_main{
  width: calc(75% - 30px);
  height: auto;
  min-height: 300px;
  margin-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8298AB;
}
.pop_title{
  color: #F9F9F9;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.005em;
  text-align: left;
}
.comments_title{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #F9F9F9;
}
.popular_dis_left_card_body{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.popular_dis_left_card_body.card_active{
  background: #090909;
  border-radius: 24px;
  padding: 20px;
}
.popular_dis_left_card_arrows{
  height: 120px;
  width: 60px;
  background: #08080A;
  border: 1px solid #28262D;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.popular_dis_left_card_arrows svg{
  font-size: 28px;
  color: #28262D;
  cursor: pointer;
}
.popular_dis_left_card_arrows span{
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #fff;
}
.popular_dis_left_card_text1 h2{
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #F9F9F9;
}
.popular_dis_left_card_text1 p{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #9CA4AB;
  padding-top: 8px;
}
.popular_dis_left_card_text_bottom{
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.popular_dis_left_card_bottom_txt1{
  display: flex;
  gap: 10px;
  align-items: center;
}
.popular_dis_left_card_bottom_txt1 span{
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #9CA4AB;
}
.popular_card1_right_img img{
  height: 100px;
  min-width: 150px;
}
.popular_dis_left_card_bottom_txt2{
  display: flex;
  gap: 20px;
  align-items: center;
}
.popular_dis_left_card_bottom_txt2_inner{
  display: flex;
  gap: 8px;
  align-items: center;
}
.popular_dis_left_card_bottom_txt2_inner span{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #9CA4AB;
}
.popular_dis_left_inner1{
  display: flex;
  gap: 20px;
}
.popular_dis_right_main{
  width: 25%;
}
.popular_dis_right_card1{
  background-color: #08080A;
  height: auto;
  min-height: 200px;
  padding: 30px 20px;
  border-radius: 24px;
  margin-top: 30px;
  text-align: center;
}
.popular_dis_right_card1 h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.005em;
  text-align: center;
  text-transform: uppercase;
}
.popular_dis_right_card1 button{
  margin: auto;
  margin-top: 30px;
}
.show_more_btn{
  margin-top: 50px;
}
.show_more_btn button{
  margin: auto;
  font-weight: 300;
  border: 1px solid #29282F;
  padding: 12px 20px;
  border-radius: 16px;
}
.movie_premiere_event_main{
  width: calc(75% - 30px);
  height: auto;
  min-height: 300px;
  margin-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8298AB;
}
.movie_premiere_event_card_circle{
  height: 55px;
  min-width: 55px;
  border-radius: 50%;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie_premiere_event_card_circle span{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: #0D0C0F;
}
.movie_title{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #F9F9F9;
  text-transform: uppercase;
  margin-top: 30px;
}
.movie_premiere_event_card_body{
  margin-top: 40px;
  display: flex;
  gap: 25px;
}
.movie_premiere_event_card_profile{
  display: flex;
  gap: 12px;
}
.movie_premiere_event_card_profile img{
  height: 60px;
  width: 60px;
  border-radius: 16px;
}
.movie_premiere_event_card_profile h1{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #F9F9F9;
}
.movie_premiere_event_card_profile p{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #78828A;
}
.movie_premiere_event_card_txt h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: left;
  color: #F9F9F9;
  margin-top: 16px;
}
.movie_premiere_event_card_txt p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;  
  color: #9CA4AB;
  padding-top: 6px;
}
.movie_premiere_event_card_txt ul li{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;  
  color: #9CA4AB;
  padding-top: 6px;
  list-style: disc;
}
.more_txt{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #D71134;
  cursor: pointer;
}
.december_card_main{
  padding-bottom: 60px;
}
.popular_dis_input_main{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 30px;
}
.popular_dis_input_main .male_img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.popular_dis_input_div{
  position: relative;
  width: 100%;
}
.popular_dis_input_div input{
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 7px 40px 7px 12px;
  border-radius: 8px;
  color: #9CA4AB;
  width: 100%;
}
.popular_dis_input_div img{
  position: absolute;
  right: 10px;
  top: 13px;

}
.popular_dis_right_profile_card{
  background: #0D0C0F;
  padding: 20px;
}
.popular_dis_right_profile_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular_dis_right_profile_title h5{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #F9F9F9;
}
.popular_dis_right_profile_title span{
  color: #D71134;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  display: flex;
  gap: 3px;
}
.profile_card_top1{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}
.profile_card_top1_img img{
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.profile_card_top1_txt{
  text-align: center;
}
.profile_card_top1_txt h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #F9F9F9;
}
.profile_card_top1_txt p{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #9CA4AB;
}
.profile_card_discrip{
  margin-top: 20px;
}
.profile_card_discrip h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.005em;
  color: #F9F9F9;
}
.profile_card_discrip p{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #9CA4AB;
}
.profile_card_discrip img{
  margin-top: 20px;
}
.profile_card_discrip button{
  margin: auto;
  margin-top: 30px;
  background: #28262D;
  border-radius: 12px;
  padding: 8px;
  width: 250px;
  color: #F9F9F9;
  font-weight: 700;
}
.profile_card_discrip button svg{
  margin-right: 8px;
}
.popular_dis_left_card_text_main{
  width: 100%;
}
.discussion_section{
  background: #0D0C0F;
  height: auto;
  min-height: 100vh;
  padding-bottom: 50px;
}
.popular_dis_left_comments{
  padding-left: 80px;
  margin-top: 30px;
}
.popular_dis_left_comments .popular_dis_left_inner1{
  margin-top: 30px;
}
.insta svg{
  background: white;
  width: 20px;
  height: 20px;
}
.insta:hover svg{
  background: red;
}
.footer_links a{
  min-width: max-content;
}
.mobile_nav_section{
  display: none;
}
.nav_mobile_logo{
  margin: auto;
  height: 35px;
  width: auto;
}
.influence_Section{
  background-color: #0D0C0F;
  padding-top: 60px;
}
@media (max-width: 992px){
  .popular_dis_main{
    flex-direction: column;
  }
  .popular_dis_left_main{
    width: 100%;
  }
  .popular_dis_right_main{
    width: 100%;
    max-width: 500px;
  }
  .movie_premiere_event_main{
    width: 100%;
  }
  .mange_container{
    padding: 0px 15px;
  }
  .footer_links{
    flex-wrap: wrap;
  }
  .mobile_nav_section{
    display: block;
  }
  .web_nav{
    display: none;
  }
}
@media (max-width: 576px){
  .logo_center{
    margin: auto;
  }
  .influ_top_img .overlay_text h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #F9F9F9;
  }
  .influence_bottom_text h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #F9F9F9;
  }
  .popular_dis_left_comments{
    padding-left: 20px;
  }
  .popular_dis_left_card_text1 h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #F9F9F9;
  }
  .popular_dis_left_card_body {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
}
  .popular_dis_left_card_text_bottom{
    gap: 8px;
  }
  .movie_premiere_event_card_profile h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #F9F9F9;
  }
  .movie_premiere_event_card_body {
    margin-top: 40px;
    display: flex;
    gap: 10px;
  }
  .popular_dis_left_card_bottom_txt2{
    width: 100%;
    justify-content: end;
  }
  .popular_dis_left_card_arrows svg {
    font-size: 20px;
    color: #28262D;
    cursor: pointer;
  }
  .popular_dis_left_card_arrows {
    height: 120px;
    width: 50px;
    background: #08080A;
    border: 1px solid #28262D;
    padding: 10px 10px;
  }
  .popular_card1_right_img img{
    height: 80px;
    min-width: 80px;
  }
  .popular_dis_left_card_text1 p {
    font-size: 10px;
    line-height: 16px;
  }
  .movie_premiere_event_card_circle {
    height: 40px;
    min-width: 40px;
  }
  .movie_premiere_event_card_circle span {
    font-size: 17px;
  }
  .accounts_section{
    align-items: start;
  }
  .hero_text{
    padding: 0px 15px;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 100% !important;
    display: flex;
    bottom: 0px !important;
    padding-right: 0rem !important;
    justify-content: center;
  }
  .hero_imgs{
    min-height: 63vh !important;
  }
}
@media (max-width: 380px){
  .popular_dis_right_card1 h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.005em;
    text-align: center;
    text-transform: uppercase;
  }
  .popular_dis_left_inner1 {
    display: flex;
    gap: 8px;
  }
}


