@tailwind base;
@tailwind components;
@tailwind utilities;


 
.slider-container {
  overflow: hidden;
  width: 100%;
}



 
body {
  color: white;
  background: #0d0c0f;
}
 



.trailerbtn{
  background-color: #D71134 !important;
  text-transform: capitalize !important;
  display:flex;
  gap: 6px;
  font-weight: 700 !important;
}
.btnadd SVG{
  font-size:20px ;
}
.trailerbtn SVG{
  font-size:20px ;
}
.btnadd{
  text-transform: capitalize !important;
  display:flex;
  gap: 6px;
  font-weight: 700 !important;
}

.swiper-pagination-bullet{
  background-color: #6b6b71 !important;
}

.swiper-pagination-bullet-active{
  background-color: white !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
width:100%!important;
display: flex;
bottom: 80px !important;
padding-right:5rem !important;
justify-content: flex-end;


}
/* .login_signup_form{
  border: 1px solid #28262D;
  background-color:  Black;
  border-radius: 24px;
  text-align: center;
  padding: 30px;
} */
/* .login_signup_form label{
  margin-bottom: 10px;
}
.login_signup_form .form_field{
  text-align: left !important;

}
.login_signup_form input{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: black;
  outline: none;
}
.login_signup_form input::placeholder{
  color: black;
}

.login_signup_form .form_btns button{
  padding: 12px 20px ;
  border-radius: 16px;
  border: 1px solid #FFFFFF;
  width: 100%;
  margin-top: 20px;
  
} 
.login_signup_form .signup_redirect{
  margin-top: 25px;
}
.login_signup_form .signup_redirect span{
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: center;

} */